# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# validation SPV file
"GLSLANG.spv"
GLSLANG.spv
*/"GLSLANG.spv"
*/GLSLANG.spv
/*\\\"GLSLANG.spv\\\""
*/*\\\"GLSLANG.spv\\\""
*/\\\"GLSLANG.spv\\\""
/*GLSLANG
*/*GLSLANG

# CMake build directory 
build/
build/*
build*/
cmake-build*/
cmake-build*/*

# ignore these directories
RelWithDebInfo/
Debug/
Release/
x64/
.vs/
*/RelWithDebInfo/
*/Debug/
*/Release/
*/x64/

# ignore containement
RelWithDebInfo/*
Debug/*
Release/*
x64/*
.vs/
*/RelWithDebInfo/*
*/Debug/*
*/Release/*
*/x64/*

ipch/*
*/ipch/*
ipch/
*/ipch/


# Ban CMAKE Generated
build/
build/*
*/build/
*/build/*

# Ban CLION Generated
cmake-build*/
cmake-build*/*
*/cmake-build*/
*/cmake-build*/*

# Ban IDEA Generated
#.idea/
#.idea/*
#*/.idea/
#*/.idea/*

# Ban CLION Legal
build-clion/
build-clion/*
*/build-clion/
*/build-clion/*

# Unlink VKT and VKH
include/vkt/*
include/vkh/*
include/vkt2/*
include/vkt
include/vkh
include/vkt2

# Unlink VKT and VKH (any directory)
*/include/vkt/*
*/include/vkh/*
*/include/vkt2/*
*/include/vkt
*/include/vkh
*/include/vkt2


